@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex h-full flex-col bg-svoddWhite-400 dark:bg-svoddBlack-200;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  .container {
    @apply lg:p-6 p-3 lg:pb-0 pb-0;
  }
  .search-panel {
    @apply fixed top-0 w-full p-3 z-40 flex flex-col gap-1 max-w-[1200px]
    inset-x-0 mx-auto bg-svoddWhite-400 dark:bg-svoddBlack-400;

    .search-input {
      @apply block w-full rounded-l-md border border-gray-200 py-[9px] pl-10
      text-sm outline-2 placeholder:text-gray-500 dark:text-svoddBlack-400;
    }

    .svodd-input-logo {
      @apply absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900;
    }
  }
}

article p {
  margin-top: 16px;
}

article div.content {
  margin-bottom: 10px;
}

article, .article, .search-panel {
  span.badge {
    @apply inline-flex items-center px-3.5 py-0.5 rounded-sm text-sm font-medium;
    cursor: pointer;
  }

  mark {
    @apply inline-block pr-1 pl-1 py-0;
    @apply bg-svoddWhite-100 text-svoddBlack-100 dark:bg-svoddGray-400 dark:text-svoddWhite-200;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
}

.svodd-pagination {
  @apply mx-auto justify-center;
  .MuiPaginationItem-ellipsis {
    @apply dark:text-svoddWhite-200 dark:bg-transparent;
  }

  .MuiPaginationItem-page, .MuiPaginationItem-previousNext {
    @apply text-svoddRed-400 dark:text-svoddRed-300 dark:border-svoddGray-300 border-pageLight-border;
  }

  .Mui-selected {
    @apply dark:text-svoddWhite-200 text-white dark:border-svoddRed-700 dark:bg-svoddBlack-200 border-svoddRed-900 bg-svoddRed-800;
    @apply bg-svoddWhite-400 dark:bg-svoddRed-500;
  }
}

.pagination {
  .detachable {
    margin: 1rem 0;
  }

  .fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    //z-index: 1029;
  }
}

.svodd-search-form {
  .btn-svodd {
    @apply bg-svoddRed-1000 text-white border-svoddRed-1100 hover:bg-svoddRed-1200 hover:border-svoddRed-1000;
    @apply active:bg-svoddRed-900 active:border-svoddRed-900;
    @apply rounded-r-md;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    padding: 6px 12px;
    position: relative;
    text-align: center;
  }
}

footer.footer {
  @apply container mt-auto mx-auto max-w-[1320px] xl:px-16 md:px-5 pb-4;
}
