@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html.h-full.dark {
  mark {
    background-color: #504f4f;
    color: #bfc3c3;
  }
}

html.h-full.light {
  mark {
    background-color: #e1e0e0;
    color: #212529;
  }
}

article p {
  margin-top: 16px;
}

article div.content {
  margin-bottom: 10px;
}